<header>
    <h1 class="text-center m-4"></h1>
</header>

<div class="container">
    <div class="row">
        <form action="/admin/edit" method="POST">
            <input name="id" hidden value="{{id}}">

            <div class="mb-3">
                <label for="title" class="form-label">Название</label>
                <input id="title" name="title" class="form-control" value="{{title}}">
            </div>

            <div class="mb-3">
                <label for="text" class="form-label">Описание</label>
                <textarea id="text" name="text" class="form-control">{{text}}</textarea>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Картинка</label>
                <textarea id="image" name="image" class="form-control" placeholder="вставьте URL картинки">{{image}}</textarea>
            </div>


            <div>
                <button type="reset" class="btn btn-primary">Очистить</button>
                <button class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>
</div>