<header>
    <h1 class="text-center m-4">{{title}}</h1>
</header>

<div class="container">
    <div class="row">
        <p>{{text}}</p>
        <img src="{{image}}" class="img-thumbnail img_full" alt="...">
    </div>
    

</div>